@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.backGround::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background: url('/assets/fundo.png') no-repeat center center;
    background-size: cover;
    opacity: 0.020;
    z-index: -1;
}

.navBar {
    border: 1px solid #636363;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navDireita {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    font-size: 1.5rem;
}

.centraliza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Inter", sans-serif;
    margin-top: -10rem;
    margin-bottom: -10rem;
}

img {
    width: 11%;
}

.bloco {
    border: 1px solid #636363;
    padding: 2.2rem;
}

.alinharEsquerda {
    justify-content: left;
}

span {
    font-weight: bold;
    color: rgb(102, 102, 102);
    font-size: 1.1rem;
}

:host ::ng-deep .p-autocomplete {
    width: 90rem;
    margin-bottom: 1rem;
}

:host ::ng-deep .p-selectbutton {
    margin-bottom: 1.2rem;
    height: 3.5rem;
}

:host ::ng-deep .p-button {
    width: 90rem;
}