<div class="backGround">
    <div class="navBar"><img src="assets/logo22.png" alt="Minha Imagem">
        <div class="navDireita">
            <p>Teste</p>
            <p>teste2</p>
            <p>teste3</p>
        </div>
    </div>
    <div class="centraliza">
        <h1>Criação do Simulado</h1>
        <p>Escolha como deseja fazer seu simulado</p>
        <p-selectbutton [options]="stateOptions" [(ngModel)]="value" (onChange)="onSelectButtonChange($event)"
            optionLabel="label" optionValue="value" aria-labelledby="basic" />
        <div class="bloco">
            <div class="alinharEsquerda">

                <h1>Simulado Personalizado</h1>
                <span>
                    <p>O simulado pode ter no máximo 180 questões ({{ totalQuestoes }}/180)</p>
                </span>
                <p>Escolha o numero de questões que o simulado deve conter</p>
                <span>
                    <p>Quantidade de questões de Ciências-Humanas</p>
                </span>
                <p-autocomplete [(ngModel)]="questoesHumanas" [dropdown]="true" [suggestions]="filteredNumbers"
                    (completeMethod)="filterNumbers($event)" [minLength]="1"
                    placeholder="Selecione ou digite o numero de questões">
                </p-autocomplete>
                <span>
                    <p>Quantidade de questões de Ciências-Natureza</p>
                </span>
                <p-autocomplete [(ngModel)]="questoesNatureza" [dropdown]="true" [suggestions]="filteredNumbers"
                    (completeMethod)="filterNumbers($event)" [minLength]="1"
                    placeholder="Selecione ou digite o numero de questões">
                </p-autocomplete>
                <span>
                    <p>Quantidade de questões de Linguagens</p>
                </span>
                <p-autocomplete [(ngModel)]="questoesLinguagens" [dropdown]="true" [suggestions]="filteredNumbers"
                    (completeMethod)="filterNumbers($event)" [minLength]="1"
                    placeholder="Selecione ou digite o numero de questões">
                </p-autocomplete>
                <span>
                    <p>Quantidade de questões de Matematica</p>
                </span>
                <p-autocomplete [(ngModel)]="questoesMatematica" [dropdown]="true" [suggestions]="filteredNumbers"
                    (completeMethod)="filterNumbers($event)" [minLength]="1"
                    placeholder="Selecione ou digite o numero de questões">
                </p-autocomplete>
                <span>
                    <p>Quantidade de questões de Ingles</p>
                </span>
                <p-autocomplete [(ngModel)]="questoesIngles" [dropdown]="true" [suggestions]="filteredNumbers"
                    (completeMethod)="filterNumbers($event)" [minLength]="1"
                    placeholder="Selecione ou digite o numero de questões">
                </p-autocomplete>
                <span>
                    <p>Quantidade de questões de Espanhol</p>
                </span>
                <p-autocomplete [(ngModel)]="questoesEspanhol" [dropdown]="true" [suggestions]="filteredNumbers"
                    (completeMethod)="filterNumbers($event)" [minLength]="1"
                    placeholder="Selecione ou digite o numero de questões">
                </p-autocomplete>
            </div>
            <div><p-button label="Gerar Simulado" [disabled]="!isNumberValid" (click)="gerarSimulado()"
                    variant="outlined" size="large"></p-button></div>
        </div>
    </div>
</div>