<div class="centraliza">
    <div><img src="assets/SemFundoLogin.png" alt="Minha Imagem"></div>
    <div class="h1">
        <h1>Bem Vindo</h1>
    </div>
    <div>
        <p>Entre na sua conta ou crie uma nova</p>
    </div>

    <p-selectbutton [options]="stateOptions" [(ngModel)]="value" (onChange)="onSelectButtonChange($event)"
        optionLabel="label" optionValue="value" aria-labelledby="basic" />

    <div class="nomeSobrenome">
        <p-floatlabel variant="on">
            <input pInputText id="nome" [(ngModel)]="value1" name="nome" autocomplete="off" />
            <label for="nome">Nome</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
            <input pInputText id="sobrenome" [(ngModel)]="value2" name="sobrenome" autocomplete="off" />
            <label for="sobrenome">Sobrenome</label>
        </p-floatlabel>
    </div>
    <div class="inputs">
        <p-floatlabel variant="on">
            <input pInputText id="apelido" [(ngModel)]="value3" name="apelido" autocomplete="off" />
            <label for="apelido">Apelido</label>
        </p-floatlabel>
    </div>

    <div class="inputs">
        <p-floatlabel variant="on">
            <input pInputText type="email" id="email" [(ngModel)]="value4" name="email" autocomplete="off"
                #email="ngModel" required email [invalid]="email.invalid && (email.touched || formSubmitted)" />
            <label for="email">Email</label>
        </p-floatlabel>
        @if (email.invalid && (email.touched || formSubmitted)) {
        <p-message severity="error" [text]="getEmailError(email)" styleClass="error-message"></p-message>
        }
    </div>

    <div class="inputs">
        <p-floatlabel variant="on">
            <p-inputmask id="on_label" [(ngModel)]="value5" mask="(99)99999-9999" name="telefone" />
            <label for="on_label">Telefone</label>
        </p-floatlabel>
    </div>

    <div class="inputs"><p-floatlabel variant="on">
            <p-password [(ngModel)]="value6" inputId="on_label" [toggleMask]="true" />
            <label for="on_label">Senha</label>
        </p-floatlabel></div>
    <div class="inputs"><p-floatlabel variant="on">
            <p-password [(ngModel)]="value7" inputId="on_label" [toggleMask]="true" />
            <label for="on_label">Confirme a Senha</label>
        </p-floatlabel></div>

    <p-button [label]="value === 1 ? 'Entrar' : 'Registrar'" [disabled]="!isFormValid()" (click)="onSubmit()"
        severity="primary" size="large">
    </p-button>
</div>