@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.centraliza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Inter", sans-serif;

}


.centraliza::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background: url('/assets/fundo.png') no-repeat center center;
    background-size: cover;
    opacity: 0.050;
    z-index: -1;

}

.centraliza img {
    width: auto;
    height: auto;
}

@media (max-width: 400px) {
    .centraliza {
        width: 353px;
        height: 848px;
        margin: auto;
    }
}

h1 {
    color: rgb(102, 102, 102);
    font-size: 2.25rem;
    font-weight: 700;
}

.h1 {
    margin-top: -4rem;
    margin-bottom: -1.5rem;
}

p {
    color: rgb(102, 102, 102);
    font-size: 1rem;
}

:host ::ng-deep .p-selectbutton {
    height: 3rem;
}

p-selectbutton {
    margin-bottom: 1rem;
}

.nomeSobrenome {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

:host ::ng-deep .nomeSobrenome .error-message .p-message-text {
    font-size: 0.855rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.inputs {
    margin-bottom: 1rem;
}

:host ::ng-deep .p-button {
    background: rgb(3, 3, 3);
    color: white;
    border: none;
    width: 25.5rem;
}

:host ::ng-deep .p-floatlabel input {
    font-size: 1.2rem;
    padding: 1rem;
    height: 3.2rem;
    width: 25.5rem;
}

:host ::ng-deep .nomeSobrenome .p-floatlabel input {
    font-size: 1.2rem;
    padding: 1rem;
    height: 3.2rem;
    width: 12.5rem;
}

:host ::ng-deep .p-floatlabel label {
    font-size: 1.1rem;
}