@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.estatisticas {
  font-family: "Inter", sans-serif;
  padding: 2rem;
  min-width: 556px;
  min-height: 864px;
}

.estatisticas::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background: url("/assets/fundo.png") no-repeat center center;
  background-size: cover;
  opacity: 0.05;
  z-index: -1;
}

.navBar {
  min-width: 556px;
}
.navBar img {
  width: 11%;
}

:host ::ng-deep .navBar .p-card-body {
  padding: 1.2rem;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navDireita {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-size: 1.3rem;
}

.estatisticas img {
  width: auto;
  height: auto;
}

.bloco1 .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

.bloco1 .titulo h2 {
  margin: 0;
  margin-bottom: 0.9rem;
}

.bloco1 .titulo p {
  margin: 2px 0;
  color: rgb(102, 102, 102);
}

.bloco1 .total {
  text-align: right;
}

.bloco1 .total h3 {
  margin: 0;
  color: #007ad9;
}

:host ::ng-deep .bloco1 .p-card {
  background-color: rgb(240, 240, 240);
  color: rgb(102, 102, 102);
  padding: 0.01rem;
}

.bloco2 {
  display: flex;
  gap: 4rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

:host ::ng-deep .bloco2 .p-card {
  flex: 1;
  min-width: 140px;
  text-align: center;
}

:host ::ng-deep .card-total {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

:host ::ng-deep .card-acertos .p-card-header {
  color: #000000;
  font-weight: bold;
}

:host ::ng-deep .card-acertos {
  color: green;
  font-weight: bold;
  font-size: 1.5rem;
}

:host ::ng-deep .card-erros {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
}

:host ::ng-deep .card-aproveitamento {
  color: #007bff;
  font-size: 1.5rem;
}

.bloco3 {
  margin-bottom: 1.5rem;
}

.bloco3 .areas {
  display: flex;
  gap: 2rem;
}

.bloco3 .area-card {
  flex: 1;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.area-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.area-title {
  font-weight: bold;
}

.area-stats {
  text-align: right;
}

.humanas-bar .p-progressbar-value {
  background-color: #4caf50 !important;
}

.exatas-bar .p-progressbar-value {
  background-color: #2196f3 !important;
}

.bloco4 {
  width: 100%;
  height: 600px;
  margin-bottom: 1.5rem;
}

.bloco4 p-chart {
  display: block;
  height: 100%;
}

.tag-correta {
  color: white;
  background-color: #28a745;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
  font-weight: bold;
}

.tag-incorreta {
  color: white;
  background-color: #dc3545;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
  font-weight: bold;
}
.bloco5 {
  margin-bottom: 2rem;
}

.footer {
  background-color: rgb(247, 246, 246);
  text-align: center;
  padding: 0.5rem;
  min-width: 556px;
}
