@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.backGround::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background: url('/assets/fundo.png') no-repeat center center;
    background-size: cover;
    opacity: 0.020;
    z-index: -1;
}

.blocoCentral {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    font-family: "Inter", sans-serif;
    padding: 2rem;
}

.bloco {
    border: 1px solid #636363;
    padding: 1.2rem;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

span {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
}

.inputs {
    margin-bottom: 1rem;
    display: flex;
    gap: 3rem;
}

:host ::ng-deep .p-floatlabel input {
    font-size: 1.2rem;
    padding: 1rem;
    height: 3rem;
    width: 45.5rem;
}

:host ::ng-deep .p-floatlabel label {
    font-size: 1.1rem;
}

:host ::ng-deep .p-button {
    background: rgb(3, 3, 3);
    color: white;
    border: none;
    width: 20.5rem;
}

.blocoSimuladosRealizados {
    border: 1px solid #636363;
    padding: 1.2rem;
    width: 100%;

}

.blocoHistorico {
    border: 1px solid #636363;
    padding-left: 5rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
}

.blocoHistorico span {
    flex-basis: 20%;
    text-align: left;
    padding: 0 0px;
}

.blocoHistorico span:first-child {
    flex-basis: 30%;
}

.blocoHistorico span:not(:first-child) {
    flex-basis: 17.5%;
}